<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">MCC-Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="root.home">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                <ul class="navbar-nav mr-auto" ng-if="!rootCtrl.isLogin()">
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="root.login">Lgoin</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="root.register">Register</a>
                    </li>
                </ul>

                <ul class="navbar-nav mr-auto" ng-if="rootCtrl.isLogin()">
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="root.login">Welcome, {{ rootCtrl.getNickname() }} ({{ rootCtrl.getEmail() }})</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="root.register">settings</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="root.register">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ui-view></ui-view>

<footer class="text-center">
    <hr>
    <h6>Copyright &copy; 2020</h6>
</footer>