.passwordStrengthBar{
    margin: 22px 0;
    position: relative;
}
.passwordStrengthBar .bar{
    width: 100%;
    /*width: 350px;*/
    height: 10px;

}
.passwordStrengthBar .bar span{
    float: left;
    width: 20%;
    height: 10px;
    text-align: center;
    line-height: 20px;
}

.passwordStrengthBar .bar .num0{
    background-color: red;
}

.passwordStrengthBar .bar .num1{
    background-color: orange;
}
.passwordStrengthBar .bar .num2{
    background-color: yellow;
}
.passwordStrengthBar .bar .num3{
    background-color: greenyellow;
}
.passwordStrengthBar .bar .num4{
    background-color: green;
}
.passwordStrengthBar .arrow{
    background: url("../images/passwordStrength.png");
    background-size: 100% 100%;
    position: absolute;
    top:-20px;
    left:0;
    width: 20px;
    height: 20px;
    transition: all 0.4s ease 0s;
}